{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-xs-12">
        <h3 class="mb-3">Posts</h3>

        <div class="d-flex justify-content-end">
            <div class="pb-2 bd-highlight">
                <a href="{{ url_for('posts.create') }}" class="btn btn-outline-primary">Write</a>
            </div>
        </div>
        <div>
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ url_for('posts.show', pk=post.id) }}">{{ post.title }}</a>
                    </h5>
                    <p class="card-text">{{ post.body|replace('\n', '<br>'|safe) }}</p>
                    <footer class="blockquote-footer">{{ post.user.name }} <cite title="Source Title">{{ post.created_at }}</cite></footer>
                </div>
                <div class="card-body custom-box">
                    <a href="javascript:void(0);"><i class="far fa-comment-dots"></i>&nbsp;0</a>
                    <a href="javascript:void(0);"><i class="far fa-heart"></i>&nbsp;0</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}